/*
* -----------------------------------------------------------------------------
* Single Blog Post
* -----------------------------------------------------------------------------
*/

.single-blog-article {

	.page-title {
		font-size: 36px;
		margin-bottom: 30px;
	}

	.article-share-box {

		.sharing-links {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			margin: 0 0 30px 0;
			padding: 0;
			align-items: center;
		}

		.count {
			padding-right: 20px;

			h3 {
				font-size: 48px;
				font-weight: 700;
				line-height: 45px;
				margin: 0;

				+ span {
					text-align: center;
					display: block;
					opacity: 0.5;
					font-weight: 500;
					line-height: 1;
				}
			}
		}

		li {

			&:not(:last-child) {
				margin-right: 10px;
			}

			a {
				display: flex;
				align-items: center;
				color: $white;
				position: relative;


				.icon-wrapper {
					padding: 15px 20px;
					background-color: rgba($black, 0.1);
					transition: all 0.5s;
				}


				@include media-breakpoint-up(md) {
					padding: 0 20px 0 0;

					.icon-wrapper {
						margin-right: 15px;
					}
				}

				&:hover {
					.icon-wrapper {
						background-color: rgba($black, 0.3);
					}
				}
			}

			&.facebook {
				background-color: #3d5b96;
			}

			&.twitter {
				background-color: #1dadeb;

			}

			&.linkedin {
				background-color: #0e76a8;
			}

		}
	}


	.blog-banner {
		.img-wrapper {
			position: relative;

			span {
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 10px 20px;
				color: $white;
				font-size: 16px;
			}

		}
	}

	.article-meta {
		padding: 5px 20px;
		background: rgba($black, 0.9);
		list-style: none;
		margin: 0;
		color: #bababa;
		flex-wrap: wrap;

		li {
			font-size: 13px;
			padding: 5px 0;
			&:not(:last-child) {
				margin-right: 40px;
			}
		}
	}

	.quote {
		position: relative;
		background: $gray-200;
		padding: 60px 50px 25px 50px;
		text-align: center;
		color: $black;
		margin-top: 100px;
		margin-bottom: 60px;

		&-icon {
			position: absolute;
			top: -30px;
			left: 50%;
			transform: translateX(-50%);
			height: 60px;
			width: 60px;
			line-height: 60px;
			border-radius: 50%;
			background: $primary;
			color: $white;
			display: inline-block;
			font-size: 21px;
		}

		h3 {
			font-size: 20px;
			font-weight: 100;
			line-height: 1.5;
		}

	}

	.video {
		position: relative;
		margin-top: 60px;
		margin-bottom: 30px;
		height: 460px;
		width: 100%;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: rgba($black, $alpha: 0.5);
		}

		.play-icon {
			height: 100%;
		}
	}

}

.author-section {
	padding-bottom: 60px;

	.author {
		padding-top: 60px;
		padding-bottom: 60px;
		border-top: 1px solid $gray-200;
		border-bottom: 1px solid $gray-200;
		display: flex;

		&-img {
			margin-right: 30px;
			display: inline-block;
			height: 120px;
			width: 120px;
			border-radius: 50%;
		}

		&-info {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&-name {
			h4 {
				font-size: 12px;
			}

			h3 {
				font-size: 20px;
			}
		}

		.socials {
			.box {
				width: 35px;
				height: 35px;
				line-height: 35px;
				display: inline-block;
				background: $gray-100;
				color: $black;
				border-radius: 50%;
				text-align: center;
				transition: all 0.5s;
				cursor: pointer;

				&:not(:last-child) {
					margin-right: 5px;
				}

				&:hover {
					background: $primary;
					color: $white;
				}
			}
		}

		@include media-breakpoint-down(sm) {
			&-info {
				flex-direction: column;
				margin-bottom: 30px;
			}
		}
	}
}
