/*
* -------------------------------------------------------------------
* Slider Construction
* --------------------------------------------------------------------
*/

.hero {
	&.v-01 {

		.slick-slider {
			.slick-arrow > span {
				background-color: rgba($color: $black, $alpha: 0.3);
				color: rgba($white, 0.5);

				&:hover {
					background-color: theme-color("primary");
					color: $white;
				}
			}
		}

		.slick-slider .slide {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			position: relative;
			max-width: 100%;
			padding-top: 100px;
			box-sizing: border-box;

			> .container {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
			}

			&::before {
				content: "";
				position: absolute;
				background: $black;
				opacity: 0.45;
				left: 0;
				right: 0;
				bottom: 0;
				top: 0;
			}

			@include media-breakpoint-up(md) {
				//padding: 330px 0 200px 0;
				height: 80vh;
				min-height: 740px;
			}

			@include media-breakpoint-down(md) {
				height: 90vh;
				min-height: 740px;
			}

		}

		.container {
			position: relative;
			width: 100%;
			height: auto;
			align-content: center;
			margin-top: 35px;
			padding-bottom: 10px;

			.title {
				font-size: 70px;
				line-height: 80px;
				padding-top: 0;

				@include media-breakpoint-down(sm) {
					font-size: 40px;
					line-height: 50px;


					+ h6 {
						line-height: 28px;
						letter-spacing: 6px;
						font-size: 14px;
					}
				}
			}


			h6 {
				text-align: inherit;
				line-height: 22px;
				letter-spacing: 10px;
				font-size: 14px;
			}

			.slider-contact {
				position: absolute;
				bottom: -50%;
				left: 42%;

				i {
					transform: rotate(225deg);
				}

				@include media-breakpoint-down(sm) {
					position: relative;
					left: 0;
					top: 50px;
				}
			}
		}
	}

}
