/*
* ------------------------------------------------------------------------
* Header - Construction
* ------------------------------------------------------------------------
*/
.main-header {
	&.v-01 {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 3;
		font-family: $headings-font-family;

		.main-header--top-bar {
			padding: 15px 0;
			font-size: 14px;

			.top-bar-address {
				line-height: 1.2;
				display: flex;

				> span {
					display: flex;

					> i {
						display: inline-block;
						margin-right: 6px;
					}

					span {
						display: flex;
					}
				}

				@include media-breakpoint-down(sm) {
					font-size: 13px;
				}
			}

			.top-right-bar {
				.quote-btn:hover {
					background: transparent;
					color: theme-color("primary");
					transition: 0.5s;
				}

				@include media-breakpoint-down(md) {
					display: flex;
					font-size: 12px;

					.quote-btn {
						width: 30vw;
						height: 30px;
						font-size: 12px;
						line-height: 25px;
						text-align: center;
						padding: 0;
					}
				}
			}
		}

		/* Navigation  */
		.main-navbar {
			.navbar-brand {
				img {
					width: 100%;
					height: auto;
					max-width: 170px;

					@include media-breakpoint-down(sm) {
						max-width: 140px;
					}
				}
			}

			.navbar-nav {

				> .nav-item {
					position: relative;

					> a {
						position: relative;
						color: inherit;
						font-weight: 700;

						&:hover {
							color: theme-color("primary");
						}
					}

					@include media-breakpoint-up(lg) {
						&:not(:last-child) {
							margin-right: 45px;
						}

						> a {
							padding: 2.2rem 0;
						}
					}

					&.active > a {
						color: theme-color("primary");

						@include media-breakpoint-up(lg) {
							&::after {
								content: "";
								background: theme-color("primary");
								position: absolute;
								right: 0;
								left: 0;
								bottom: 0;
								height: 3px;
							}
						}
					}

				}

			}
		}
	}
}

.search-btn {
	cursor: pointer;
}

.show-form {
	opacity: 1;
	visibility: visible;
	top: 100%;
}

/*customized section header*/
.green-underline {
	background-color: $success;
	width: 50px;
	height: 2.5px;
	display: inline-block;
}
